---
import { Picture } from "@astrojs/image/components";

const { title, imageSrc, description, price } = Astro.props;
---

<div
  class="bg-white shadow-lg rounded-lg overflow-hidden grid grid-cols-2 gap-3 h-[300px]"
>
  <Picture
    src={imageSrc}
    alt={title}
    widths={[400, 600]}
    sizes="(max-width:400px) 400px,  600px"
    aspectRatio="5:3"
    class="object-cover h-full w-full"
  />
  <div class="p-4 flex flex-col">
    <h1 class="text-lg mb-4 line-clamp-2">{title}</h1>
    <p class="text-[12px] text-gray-700 line-clamp-3">{description}</p>

    <div class="mt-4 flex-1 flex flex-col justify-end">
      <h3 class="text-xl font-bold mb-6">${price}</h3>
      <div class="flex items-center gap-4">
        <button
          class="text-sm bg-blue-500 px-6 py-1 rounded-md shadow-md hover:bg-blue-600 text-white"
          >Buy</button
        >
        <button
          class="text-sm whitespace-nowrap border border-blue-500 px-6 py-1 rounded-md shadow-md"
          >Add To Cart</button
        >
      </div>
    </div>
  </div>
</div>
